@import "tailwindcss";


/* :root {
  --background: #ffffff;
  --foreground: #171717;
} */

:root {
  --primary-color: oklch(.278 .033 256.848); /* Your color */
  --background-light: #f7f7f7;  /* Light mode background */
  --background-dark: #333333;  /* Dark mode background */
  --text-light: #ffffff; /* Text color for light mode */
  --text-dark: #222222; /* Text color for dark mode */
}

html {
  scroll-behavior: smooth;
}


/* Body Styling */
body {
  background-color: var(--background-light);
  color: var(--text-dark);
  transition: background-color 0.3s, color 0.3s;
}



@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

@keyframes blob {
  0%,
  100% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }

  66% {
    transform: translate(-20px 20px) scale(0.9);
  }

}


@keyframes slideDown {
  0% {
    opacity: 0;
    transform: translateY(-10px)
  }
  100% {
    opacity: 1;
    transform: translateY(0)
  }
}

@keyframes fadeScale {
  0% {
    opacity: 0;
    transform: scale(0.95);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}



.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.animate-fadeScale {
  animation: fadeScale 0.3s ease-out forwards;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

.animate-slideDown {
  animation: slideDown 0.3s ease-out forwards;
}

/* .navbar-link {
  @apply text-blue-600 hover:text-blue-800 transition;
  color: #ffffff;
  
} */

.nav {
  background-color: var(--primary-color) !important;
  color: #ffffff;
}
